*/node_modules
*/logs
server/docs
.tmp
*.tmp
*.tmp.*

/app/.idea
/app/.ionic
/app/.sass-cache
/app/.sourcemaps
/app/.versions
/.vscode
/app/coverage
/app/dist
/app/platforms
/app/plugins
/app/www
/app/www

