<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input [(ngModel)]="name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input [(ngModel)]="username" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>

  </ion-list>

  <ion-button expand="full" (click)="register()">Register</ion-button>
  <a [routerLink]="['/login']" queryParamsHandling="merge"> login </a>

</ion-content>